<html>
<!--Head-->
{include file='common@public:header' /}
<body>

<body class="bg-dark">
<div class="sufee-login d-flex align-content-center flex-wrap">
    <div class="container">
        <div class="login-content">
            <div class="login-logo">
                <a href="index.html">
                    <img class="align-content" src="__STATIC__/images/logo.png" alt="">
                </a>
            </div>
            <div class="login-form">
                <!--                <div class="alert alert-info" role="alert">-->
                <!--                    <h5>请用以下帐号/密码登入 Superadmin</h5>-->
                <!--                    <p>username: root<br>password: root1234</p>-->
                <!--                </div>-->
                <form>
                    <!-- 手机号-->
                    <div class="form-group">
                        <label>手机号</label>
                        <input type="text" name="tel" class="form-control" placeholder="手机号" />
                    </div>
                    <!-- 验证码-->
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>验证码</label>
                                <input type="text" name="code" class="form-control" placeholder="验证码" />
                                <span class="help-block" data-valmsg-for="cc-exp" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <label></label>
                            <div class="input-group">
                                <input type="button" id="btn" class="btn btn-lg btn-info btn-block"  onclick="sendChangePhone();" value="获取验证码">
                            </div>
                        </div>
                    </div>
                    <br>
                    <!-- 登录按钮-->
                    <div class="loginbox-submit">
                        <input type="button" id="go" class="btn btn-success btn-flat m-b-30 m-t-30" onclick="login();" value="登录">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Basic Scripts-->
<script src="__STATIC__/assets/js/vendor/jquery-2.1.4.min.js"></script>
<script src="__STATIC__/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__STATIC__/assets/js/jquery.cookie.js"></script>

<!--Beyond Scripts-->
<script src="__STATIC__/admin/js/admin/beyond.js"></script>
<script>
    $(function(){
        if($.cookie('total') != undefined && $.cookie('total') != 'NaN' && $.cookie('total') != 'null'){
            timekeeping();
        }else{
            $("#btn").attr('disabled',false);
        }
    });
    function timekeeping(){
        $("#btn").attr('disabled',true);//按钮设置为禁用
        var interval=setInterval(function(){
            total=$.cookie('total');
            $("#btn").val('请等待'+total+'秒');
            total--;
            if(total == 0){
                clearInterval(interval);
                $.cookie('total',total,{ expires: -1 });
                $("#btn").val('重新发送');
                $("#btn").attr('disabled',false);
            }else{
                $.cookie('total',total);
            }
        },1000);
    }
    function sendChangePhone(){
        //window.alert("点击获取验证码");
        var obj = $("input[name='tel']");
        phoneNum = obj.val(); //获取输入的电话号码
        //window.alert("输入的手机号为" + phoneNum);

        //判断手机号是否为空
        if(phoneNum == null|| phoneNum==''){
            window.alert("请输入手机号" + phoneNum);
        }
        else{
            //发送短信
            $.ajax({
                type: 'POST',
                dataType:'json',
                url: "{:url('phonelogin/sendCode')}",
                data: {phoneNum:phoneNum},
                success: function(data){
                    $("#btn").val(data.msg);
                    if(data.status == 0){
                        $.cookie('total',60);
                        timekeeping();
                    }else{
                        $.cookie('total',30);
                        timekeeping();
                    }
                }
            });
        }

    }
    function login(){
        var obj = $("input[name='tel']");
        tel = obj.val();
        var obj = $("input[name='code']");
        code = obj.val();

        //判断 手机号 / 验证码 是否为空
        if(tel == null|| tel==''){
            //为空的代码
            window.alert("请输入手机号" + tel);
        }else if(code == null || code == ''){
            window.alert("请输入验证码" + code);
        }

        //判断验证码是否正确
       else {
            $.ajax({
                type: 'POST',
                dataType:'json',
                url: "{:url('phonelogin/index')}",
                data: {tel:tel,code:code},
                success: function(data){
                    if(data.status == 0){
                        window.location.href = "../../querystatistics/query/index";//界面跳转
                        //$("#go").val(data.msg);
                        //window.alert("登录成功" + phoneNum);
                        //window.open("http://114.116.99.20/calendar_new/public/index.php/querystatistics/query/index.html");//跳转界面
                    }else {
                        $("#go").val(data.msg);
                    }
                }
            });
       }
    }
</script>

</body>
<!--Body Ends-->
</html>
