<div class="weui-tabbar">
    <a href="{:url('Wxquery/index',['wxcode' => $wxcode])}" class="weui-tabbar__item ">
                    <span style="display: inline-block;position: relative;">
                        <img src="__STATIC__/wx/img/chaxun.png" alt="" class="weui-tabbar__icon">
                    </span>
        <p class="weui-tabbar__label">查询</p>
    </a>
    <a href="{:url('wx_calendar/index',['wxcode' => $wxcode, 'userid'=> $userid])}" class="weui-tabbar__item weui-bar__item_on">
        <img src="__STATIC__/wx/img/richeng_on.png" alt="" class="weui-tabbar__icon">
        <p class="weui-tabbar__label">日程</p>
    </a>
    <a href="javascript:void(0);" class="weui-tabbar__item">
                <span style="display: inline-block;position: relative;">
                    <img src="__STATIC__/wx/img/guanzhu-black.png" alt="" class="weui-tabbar__icon">
                </span>
        <p class="weui-tabbar__label">关注</p>
    </a>
    <a href="{:url('Index/index', ['wxcode' => $wxcode])}" class="weui-tabbar__item ">
        <img src="__STATIC__/wx/img/wode.png" alt="" class="weui-tabbar__icon">
        <p class="weui-tabbar__label">我的</p>
    </a>
</div>