<!DOCTYPE html>
<html lang="zh-CN" style="height: 100%;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/2.0.0/weui.css">
    <title>我的关注</title>

</head>
<body ontouchstart style="height: 100%; background-color: #ededed">
<div class="weui-tab">

    <div class="weui-tab__panel">

        <div class="weui-panel weui-panel_access">
            {volist name="list_time_table" id="vo"}
            <a class="weui-cell  weui-cell_example">
                <div class="weui-cell__hd"><img src="__STATIC__/wx/img/s.jpg" alt=""
                                                style="width:50px;margin-right:16px;display:block;border-radius: 5px"></div>
                <div class="weui-cell__bd">
                    <h4 class="weui-media-box__title">{$vo.name}</h4>
                    <p class="weui-media-box__desc">{$vo.position}</p>
                    <p  style="display:none">{$vo.followid}</p>
                    <p style="display:none">{$vo.userid}</p>


                </div>
                <div class="weui-cell__ft">取消关注</div>

                     <div class=" weui-cell__ft">
                         <object>
                         <a href="{:url('checkDate',['followid'=> $vo.followid])}">
                             <img src="__STATIC__/wx/img/chaxun_on.png" style="width: 30px" >
                         </a>
                         </object>
                     </div>

                <div class=" weui-cell__ft"><img src="__STATIC__/wx/img/guanzhu.png" style="width: 30px" onclick="noFollow(this)"></div>
            </a>
            {/volist}
        </div>

    </div>


    <div class="weui-tabbar">
        <a href="wx_search.html" class="weui-tabbar__item ">
                    <span style="display: inline-block;position: relative;">
                        <img src="__STATIC__/wx/img/chaxun.png" alt="" class="weui-tabbar__icon">
                    </span>
            <p class="weui-tabbar__label">查询</p>
        </a>
        <a href="wx_calendar.html" class="weui-tabbar__item ">
            <img src="__STATIC__/wx/img/richeng.png" alt="" class="weui-tabbar__icon">
            <p class="weui-tabbar__label">日程</p>
        </a>
        <a  class="weui-tabbar__item weui-bar__item_on">
                    <span style="display: inline-block;position: relative;">
                        <img src="__STATIC__/wx/img/guanzhu-black_on.png" alt="" class="weui-tabbar__icon">
        <p class="weui-tabbar__label">关注</p>
                    </span>
        </a>
        <a   class="weui-tabbar__item">
            <img src="__STATIC__/wx/img/wode.png" alt="" class="weui-tabbar__icon">
            <p class="weui-tabbar__label">我的</p>
        </a>
    </div>
</div>

<script type="text/javascript">
    //不再关注
    function noFollow(obj){
        var followid = $(obj).closest('a').find('div').eq(1).find('p').eq(1).text();
        var userid = $(obj).closest('a').find('div').eq(1).find('p').eq(2).text();

        $.post("{:url('noFollow')}",
            {
                followid:followid,
                userid:userid
            },
            function(data,status){
                if(data == "更新成功")
                    location.reload();
                else
                    alert(data);
            });
    };

    //查看该用户日程
    function checkDate(obj) {
        var followid = $(obj).closest('a').find('div').eq(1).find('p').eq(1).text();

        $.post("{:url('checkDate')}",
            {
                followid:followid,

            },
            function(data,status){
                if(data == "更新成功")
                    location.reload();
                else
                    alert(data);
            });
    }
</script>

<script src="__STATIC__/assets/js/vendor/jquery-2.1.4.min.js"></script>
<script src="__STATIC__/assets/js/popper.min.js"></script>
<script src="__STATIC__/assets/js/bootstrap.min.js"></script>
<script src="__STATIC__/assets/js/jquery.matchHeight.min.js"></script>
<script src="__STATIC__/assets/js/main.js"></script>
<script src="__STATIC__/assets/js/lib/data-table/datatables.min.js"></script>
<script src="__STATIC__/assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
<script src="__STATIC__/assets/js/lib/data-table/dataTables.buttons.min.js"></script>
<script src="__STATIC__/assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
<script src="__STATIC__/assets/js/lib/data-table/jszip.min.js"></script>
<script src="__STATIC__/assets/js/lib/data-table/vfs_fonts.js"></script>
<script src="__STATIC__/assets/js/lib/data-table/buttons.html5.min.js"></script>
<script src="__STATIC__/assets/js/lib/data-table/buttons.print.min.js"></script>
<script src="__STATIC__/assets/js/lib/data-table/buttons.colVis.min.js"></script>
<script src="__STATIC__/assets/js/init/datatables-init.js"></script>
</body>
</html>
