
{extend name="common@public/base" /}
{block name="main-content"}
<!-- Content -->
<div class="content">
    <div class="col-lg-12">
                  <div class="card">
                      <div class="card-header">
                          <strong>管理员管理</strong> 新增管理员
                      </div>
                      <div class="card-body card-block">
                          <form class="form-horizontal" action="" enctype="multipart/form-data" method="post">

                              <div class="row form-group">
                                  <div class="col col-md-3"><label class=" form-control-label" for="admin_name">管理员名称</label></div>
                                  <div class="col-12 col-md-9"><input name="admin_name" class="form-control" id="admin_name" type="text" placeholder=""><small class="form-text text-muted">*必填</small></div>
                              </div>

                              <div class="row form-group">
                                  <div class="col col-md-3"><label class=" form-control-label" for="admin_name">所属用户组</label></div>
                                  <div class="col-12 col-md-9">
                                    <select class="form-control" name="group_id">
                                      {volist name="auth_group_list" id="auth_group"}
                                      <option value="{$auth_group.id}">{$auth_group.title}</option>
                                      {/volist}
                                    </select>
                                  </div>
                              </div>

                              <div class="row form-group">
                                  <div class="col col-md-3"><label class=" form-control-label" for="admin_phone">管理员手机</label></div>
                                  <div class="col-12 col-md-9"><input name="admin_phone" class="form-control" id="admin_phone" type="text" placeholder=""><small class="form-text text-muted">*必填</small></div>
                              </div>

                              <div class="row form-group">
                                  <div class="col col-md-3"><label class=" form-control-label" for="admin_password">管理员密码</label></div>
                                  <div class="col-12 col-md-9"><input name="admin_password" class="form-control" id="admin_password" type="text" placeholder=""><small class="form-text text-muted">*必填（密码规则：至少八位，需包含大、小写英语或数字三者其二）</small></div>
                              </div>

                              <button class="btn btn-primary btn-sm" type="submit">
                                  <i class="fa fa-dot-circle-o"></i> 确认创建
                              </button>

                          </form>
                      </div>
                      <div class="card-footer">


                      </div>
                  </div>

              </div>
  </div>
<!-- /.content -->
{/block}
{block name="scripts"}
<script src="__STATIC__/admin/js/admin/beyond.js"></script>
{/block}