{extend name="common@public/base" /}
{block name="main-content"}
<!-- Content -->
<div class="content">
    <div class="animated fadeIn">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="box-title">日程时间</h4>
                    <button type="submit" class="btn btn-primary btn-sm" data-toggle="modal"
                            data-target="#addwhitelist">添加人员
                    </button>
                    <button id="batchShow" type="submit" class="btn btn-primary btn-sm">
                        批量添加
                    </button>
                    <a href="{:url('exportexcel')}" class="btn btn-success btn-sm" >批量导出</a>
                    <button id="deletebutton" type="submit" class="btn btn-success btn-sm"
                            onclick=' displayAllCheckbox(),
                                               document.getElementById("button2").style.display="inline" ,
                                               document.getElementById("button1").style.display="inline" '>批量删除用户
                    </button>

                    <button style="display:none ;" id="button1" type="submit"
                            class="btn btn-success btn-sm  " onclick="getdeleteids()">
                        确定删除所选
                    </button>
                    <button style="display:none ;" id="button2" type="submit"
                            class="btn btn-success btn-sm "
                            onclick='hideAllCheckbox() ,
                                        refreshcheckbox(),
                                          document.getElementById("button2").style.display="none" ,
                                                  document.getElementById("button1").style.display="none"'>取消
                    </button>
                    <br>
                    <br>
                    <form id="batchAdd" action="batchAddByExcel" enctype="multipart/form-data" method="post"
                          style="display: none">
                        <label>Excel文件: </label>
                        <input type="file" name="file" id="file_excel"/>
                        <br>
                        <label>格式: |姓名|学(工)号|用户类型|所属部门|职位|</label> <br>
                        <label>批量添加: </label>
                        <input class="btn btn-primary btn-sm" type="button" value="上传" onclick="submitExcel()"/>
                        <a href="exampleExcel">下载模板</a>
                    </form>


                </div>
                <div class="card-body--">
                    <div class="table-stats">
                        <table id="bootstrap-data-table" class="table">
                            <thead>
                            <tr>
                                <th class="serial">序号</th>
                                <th>用户姓名</th>
                                <th>用户工号/学号</th>
                                <th>用户类型</th>
                                <th>所属部门/系(学院)</th>
                                <th>用户职位</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name='info' id='list'}
                            <tr data-id={$list.id}>
                                <td class="serial">
                                    <input class="checkbox" type="checkbox" value="值"
                                                          style="display: none"/>
                                    {$list.id}.
                                </td>
                                <td><span class="product">{$list.ui_name}</span></td>
                                <td><span class="product">{$list.work_id}</span></td>
                                <td data-id="{$list.type_id}"><span class="product">{$list.type}</span></td>
                                <td data-id={$list.depart_id}><span class="product">{$list.ud_name}</span></td>
                                <td data-id={$list.position_id}><span class="product">{$list.up_name}</span></td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm mb-1" data-toggle="modal"
                                            data-target="#edituserinfo">
                                        <i class="fa fa-magic"></i>&nbsp;编辑
                                    </button>
                                    <button type="button" class="btn btn-danger btn-sm mb-1" data-toggle="modal"
                                            data-target="#delwhitelist">
                                        <i class="fa fa-exclamation"></i>&nbsp;删除
                                    </button>
                                </td>
                            </tr>
                            {/volist}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!--添加白名单人员-->
        <form action="addUser" method="post" onsubmit="return check_submit()">
            <div class="modal fade" id="addwhitelist" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addmodalLabel">添加人员</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>
                            <div class="form-group">
                                <div id="result_name"></div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-user"></i>
                                    </div>
                                    <input type="text" id="name" name="name" placeholder="姓名"
                                           class="form-control" onfocus="focus_name()" onblur="blur_name()">
                                </div>
                            </div>
                            <div class="form-group">
                                <div id="result_work_id"></div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-credit-card"></i>
                                    </div>
                                    <input type="text" id="work_id" name="work_id" placeholder="工号/学号"
                                           class="form-control" onfocus="focus_id()" onblur="blur_id()">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-group"></i>
                                    </div>
                                    <select name="type_id" id="type_id" class="form-control">
                                        <option value="0">普通用户</option>
                                        <option value="1">院领导</option>
                                        <option value="2">部门领导</option>
                                        <option value="3">系领导</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-group"></i>
                                    </div>
                                    <select name="depart_id" id="depart_id" class="form-control">
                                        {volist name='depart' id='list'}
                                        <option value={$list.id}>{$list.name}</option>
                                        {/volist}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-group"></i>
                                    </div>
                                    <select name="position_id" id="position_id" class="form-control">
                                        {volist name='position' id='list'}
                                        <option value={$list.id}>{$list.name}</option>
                                        {/volist}
                                    </select>
                                </div>
                            </div>
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                            <button type="submit" class="btn btn-success">确认</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!--编辑人员信息-->
        <form action="edituserinfo" method="post" onsubmit="return md_submit()">
            <div class="modal fade" id="edituserinfo" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editmodalLabel">编辑人员信息</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" id="edit_id" name="edit_id">
                            <p>
                            <div class="form-group">
                                <div id="achieve_name"></div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-user"></i>
                                    </div>
                                    <input type="text" id="edit_name" name="name" placeholder="姓名" class="form-control" onfocus="valid_name()" onblur="review_name()">
                                </div>
                            </div>
                            <div class="form-group">
                                <div id="achieve_work_id"></div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-credit-card"></i>
                                    </div>
                                    <input type="text" id="edit_work_id" name="work_id" placeholder="工号/学号" class="form-control" onfocus="valid_id()" onblur="review_id()">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-group"></i>
                                    </div>

                                    <select name="type_id" id="edit_type_id" class="form-control">
                                        <option value="0">普通用户</option>
                                        <option value="1">院领导</option>
                                        <option value="2">部门领导</option>
                                        <option value="3">系领导</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-group"></i>
                                    </div>
                                    <select name="depart_id" id="edit_depart_id" class="form-control">
                                        {volist name='depart' id='list'}
                                        <option value={$list.id}>{$list.name}</option>
                                        {/volist}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-group"></i>
                                    </div>
                                    <select name="position_id" id="edit_position_id" class="form-control">
                                        {volist name='position' id='list'}
                                        <option value={$list.id}>{$list.name}</option>
                                        {/volist}
                                    </select>
                                </div>
                            </div>
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                            <button type="submit" class="btn btn-success">确认</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!--删除人员信息-->
<!--        <form action="" method="post">-->
        <div class="modal fade" id="delwhitelist" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="delmodalLabel">删除人员</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="del_id" name="del_id">
                        <p>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-user"></i>
                                </div>
                                <input type="text" id="del_name" name="name" placeholder="姓名" class="form-control"
                                       readonly="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-credit-card"></i>
                                </div>
                                <input type="text" id="del_work_id" name="work_id" class="form-control"
                                       readonly="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-group"></i>
                                </div>
                                <select name="type_id" id="del_type_id" class="form-control" disabled="disabled">
                                    <option value="0">普通用户</option>
                                    <option value="1">院领导</option>
                                    <option value="2">部门领导</option>
                                    <option value="3">系领导</option>
                                </select>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-group"></i>
                                </div>
                                <select name="depart_id" id="del_depart_id" class="form-control" disabled="disabled">
                                    {volist name='depart' id='list'}
                                    <option value={$list.id}>{$list.name}</option>
                                    {/volist}
                                </select>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-group"></i>
                                </div>
                                <select name="position_id" id="del_position_id" class="form-control"
                                        disabled="disabled">
                                    {volist name='position' id='list'}
                                    <option value={$list.id}>{$list.name}</option>
                                    {/volist}
                                </select>

                            </div>
                        </div>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"  data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-success" id="confirmdelete">确认</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
<!--        </form>-->


    </div>
    <!-- .animated -->
</div>
<!-- /.content -->
{/block}

{block name="scripts"}
<!--编辑人员信息-->
<script type="text/javascript">
    $('#edituserinfo').on('show.bs.modal', function (event) {
        var btnThis = $(event.relatedTarget); //触发事件的按钮
        var modal = $(this);  //当前模态框
        var modalId = btnThis.data('id');   //解析出data-id的内容
        var id = btnThis.closest('tr').data('id');
        console.log(id);
        var work_id = btnThis.closest('tr').find('td').eq(2).text();
        var name = btnThis.closest('tr').find('td').eq(1).text();
        var type_id = btnThis.closest('tr').find('td').eq(3).data('id');
        var depart = btnThis.closest('tr').find('td').eq(4).data('id');
        var position = btnThis.closest('tr').find('td').eq(5).data('id');
        modal.find('#edit_name').val(name);
        modal.find('#edit_work_id').val(work_id);
        modal.find('#edit_type_id').val(type_id);
        modal.find('#edit_depart_id').val(depart);
        modal.find('#edit_position_id').val(position);
        modal.find('#edit_id').val(id);

    });
</script>

<!--编辑人员信息特殊字符校验-->
<script>
     let mdName = false;
     let mdId = false;

    function valid_name() {
        let resultName = document.getElementById("achieve_name");
        resultName.innerHTML = "姓名不可包含特殊字符且为2~20位的中英文";
        resultName.style.color = '#aaaaaa';
    }

    function review_name() {
        mdName = false;
        let resultName = document.getElementById("achieve_name");
        resultName.style.color = '#ff6666';
        let cnPattern = /[\u4E00-\u9FA5A-Za-z]/;
        let name = $('#edit_name').val();
        if (name === null) {
            resultName.innerHTML = "用户名为空";
        } else if (name.length < 2 || name.length > 20) {
            resultName.innerHTML = "用户名必须为2~20位";
        } else if (cnPattern.test(name)) {
            mdName = true;
            resultName.innerHTML = "用户名合法";
            resultName.style.color = '#2ecc71';
        } else {
            resultName.innerHTML = "用户名非法，请修改";
        }
    }

    function valid_id() {
        let resultId = document.getElementById("achieve_work_id");
        resultId.innerHTML = "学工号仅为数字";
        resultId.style.color = "#aaaaaa";
    }

    function review_id() {
        mdId = false;
        let resultId = document.getElementById("achieve_work_id");
        resultId.style.color = "#ff6666";
        let cnPattern = /^\d{10}$/;
        let workId = $('#edit_work_id').val();
        if (workId === null) {
            resultId.innerHTML = "学工号为空";
        } else if (cnPattern.test(workId)) {
            mdId = true;
            resultId.innerHTML = "学工号合法";
            resultId.style.color = "#2ecc71";
        } else {
            resultId.innerHTML = "学工号非法，请修改";
        }
    }

     function md_submit() {
         if (mdId && mdName) {
             mdId = true;
             mdName = true;
             return true;
         } else {
             alert("所填信息不符合要求，请修改！");
             return false;
         }
     }
</script>

<!--删除人员-->
<script type="text/javascript">
    // let id;
    $('#delwhitelist').on('show.bs.modal', function (event) {
        var btnThis = $(event.relatedTarget); //触发事件的按钮
        var modal = $(this);  //当前模态框
        var modalId = btnThis.data('id');   //解析出data-id的内容
        id = btnThis.closest('tr').data('id');
        console.log(id);
        var work_id = btnThis.closest('tr').find('td').eq(2).text();
        var name = btnThis.closest('tr').find('td').eq(1).text();
        var type_id = btnThis.closest('tr').find('td').eq(3).data('id');
        var depart = btnThis.closest('tr').find('td').eq(4).data('id');
        var position = btnThis.closest('tr').find('td').eq(5).data('id');
        modal.find('#del_name').val(name);
        modal.find('#del_work_id').val(work_id);
        modal.find('#del_type_id').val(type_id);
        modal.find('#del_depart_id').val(depart);
        modal.find('#del_position_id').val(position);
        modal.find('#del_id').val(id);

    });

    //liutong部分


    // 删除时间段描述模态框
    // $('#smallmodaldelete').on('show.bs.modal', function (event) {
    //     var btnThis = $(event.relatedTarget); //触发事件的按钮
    //     var modal = $(this); //当前模态框
    //     var modalId = btnThis.data('id'); //解析出data-id的内容
    //     id = $.trim(btnThis.closest('tr').find('td').eq(0).text());
    //     work_id = $.trim(btnThis.closest('tr').find('td').eq(1).text());
    //     var content = $.trim(btnThis.closest('tr').find('td').eq(2).text());
    //     var type = $.trim(btnThis.closest('tr').find('td').eq(3).text());
    //     console.log(id);
    //     console.log(work_id)
    //     modal.find('#user_id_delete').val(work_id);
    //     modal.find('#user_name_delete').val(content);
    //     modal.find('#user_type_delete').val(type);
    //     var userid = $('#user_id_delete').val();
    //     console.log(userid);
    // });


    // 确认删除ajax
    $("#confirmdelete").click(function () {
        //先略过不合法输入,只做trim处理
        console.log(id);
        //post方法修改
        $.post('deleteuser', {
                id: id
            },
            function (data) {
                if (data.msg == "删除成功"){
                    location.reload();
                    alert("删除成功！");
                }
                else
                    alert("删除失败，重新操作");
            });
    });


    function displayAllCheckbox() {
        let allCheckboxs = document.getElementsByClassName("checkbox");
        for (let i = 0; i < allCheckboxs.length; i++) {
            allCheckboxs[i].style.display = "inline";
        }
    }


    function hideAllCheckbox() {
        let allCheckboxs = document.getElementsByClassName("checkbox");
        for (let i = 0; i < allCheckboxs.length; i++) {
            allCheckboxs[i].style.display = "none";
        }
    }


    //刷新复选框状态
    function refreshcheckbox() {
        let allCheckboxs = document.getElementsByClassName("checkbox");
        for (let i = 0; i < allCheckboxs.length; i++) {
            if (allCheckboxs[i].checked) {
                allCheckboxs[i].checked = false;
            }
        }
    }


    //获取删除用户的ID数组

    function getdeleteids() {
        let deleteidsarr = new Array();
        let delcounts = 0;
        let arrcheckbox = document.getElementsByClassName("checkbox");//是一个数组
        for (let k = 0; k < arrcheckbox.length; k++) {
            if (arrcheckbox[k].checked) {
                //获取选中的复选框对应的id
                let id = $.trim(arrcheckbox[k].nextSibling.nodeValue);
                deleteidsarr.push(id);
            }
            delcounts++;

        }
        console.log(deleteidsarr);
        $.ajax({
            url: 'batchDeleteUser',
            data: {'list[]': deleteidsarr},
            type: 'POST',
            success: function (response) {
                if (response === 'ok') {
                    location.reload();
                    console.log(response);
                }
            }
        });
    }


</script>

<script>
    $('#batchShow').click(function () {
        let form = document.getElementById('batchAdd');
        if (form.style.display === 'none') {
            $('#batchShow').text('取消上传');
            form.style.display = 'inline';
        } else {
            $('#batchShow').text('批量添加');
            form.style.display = 'none';
        }
    });

    let flagName = false;
    let flagId = false;

    function focus_name() {
        let resultName = document.getElementById("result_name");
        resultName.innerHTML = "姓名不可包含特殊字符且为2~20位的中英文";
        resultName.style.color = '#aaaaaa';
    }

    function blur_name() {
        flagName = false;
        let resultName = document.getElementById("result_name");
        resultName.style.color = '#ff6666';
        let cnPattern = /[\u4E00-\u9FA5A-Za-z]/;
        let name = $('#name').val();
        if (name === null) {
            resultName.innerHTML = "用户名为空";
        } else if (name.length < 2 || name.length > 20) {
            resultName.innerHTML = "用户名必须为2~20位";
        } else if (cnPattern.test(name)) {
            flagName = true;
            resultName.innerHTML = "用户名合法";
            resultName.style.color = '#2ecc71';
        } else {
            resultName.innerHTML = "用户名非法，请修改";
        }
    }

    function focus_id() {
        let resultId = document.getElementById("result_work_id");
        resultId.innerHTML = "学工号仅为数字";
        resultId.style.color = "#aaaaaa";
    }

    function blur_id() {
        flagId = false;
        let resultId = document.getElementById("result_work_id");
        resultId.style.color = "#ff6666";
        let cnPattern = /^\d+$/;
        let workId = $('#work_id').val();
        if (workId === null) {
            resultId.innerHTML = "学工号为空";
        } else if (cnPattern.test(workId)) {
            flagId = true;
            resultId.innerHTML = "学工号合法";
            resultId.style.color = "#2ecc71";
        } else {
            resultId.innerHTML = "学工号非法，请修改";
        }
    }
    
    function check_submit() {
        if (flagId && flagName) {
            flagId = false;
            flagName = false;
            return true;
        } else {
            return false;
        }
    }

    function submitExcel() {
        let file = $('#file_excel').get(0).files[0];
        if (file) {
            $('#batchAdd').submit();
        } else {
            alert("请选择好文件再进行上传操作！")
        }
    }


</script>

<script>
    var idTmr;
    function  getExplorer() {
    var explorer = window.navigator.userAgent ;
    //ie
    if (explorer.indexOf("MSIE") >= 0) {
            return 'ie';
        }
        //firefox  
        else if (explorer.indexOf("Firefox") >= 0) {
            return 'Firefox';
        }
        //Chrome  
        else if (explorer.indexOf("Chrome") >= 0) {
            return 'Chrome';
        }
        //Opera  
        else if (explorer.indexOf("Opera") >= 0) {
            return 'Opera';
        }
        //Safari  
        else if (explorer.indexOf("Safari") >= 0) {
            return 'Safari';
        }
    }
    function Cleanup() {
        window.clearInterval(idTmr);
        CollectGarbage();
    }
    var tableToExcel = (function() {
        var uri = 'data:application/vnd.ms-excel;base64,', template = '<html><head><meta charset="UTF-8"></head><body><table  border="1">{table}</table></body></html>', base64 = function(
                s) {
            return window.btoa(unescape(encodeURIComponent(s)))
        }, format = function(s, c) {
            return s.replace(/{(\w+)}/g, function(m, p) {
                return c[p];
            })
        }
        return function(table, name) {
            if (!table.nodeType)
                table = document.getElementById(table)
            var ctx = {
                worksheet : name || 'Worksheet',
                table : table.innerHTML
            }
            window.location.href = uri + base64(format(template, ctx))
        }
    })()


    </script>
{/block}